.intro, .intro_btns {
	margin: 10px 0;
	margin-bottom: 20px;
	
	font-family: courier, monaco, monospace, consolas;
	color: #ffffff;
	font-size: 14px;

	text-align: left;
}
#txtcrs {
	background-color: red;
	color: red;
	opacity: 0.5;
}
