.intro, .intro_btns {
	margin: 10px 0;
	margin-bottom: 20px;
	
	font-family: courier, monaco, monospace, consolas;
	color: #ffffff;
	font-size: 14px;

	text-align: left;
}
#txtcrs {
	background-color: red;
	color: red;
	opacity: 0.5;
}
#footer {
	margin-top: 30px;

	font-family: courier, monaco, monospace, consolas;
	font-size: 14px;
	color: #ffffff;
}
#handmade {
	font-size: 13px;
}
#link_1, #link_2, #link_3, #link_4, #link_5 {
	cursor: pointer;
}
a:link {
	color: green;
}
a:visited {
	color: green;
}